:root {
  --light-gray: #c0c0c0;
  --hover: rgb(105, 105, 105);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

a {
  color: white;
  font-size: 16px;
  line-height: 20px;
}

a:hover {
  color: var(--hover);
  transition: 0.4s;
}

hr {
  border: none;
  background-color: white;
  height: 2px;
  width: 100%;
  margin: 30px 0;
}

.wrapper {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  height: 90px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__areas {
  color: white;
  font-size: 14px;
  padding: 0 60px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__item--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 155px;
  height: 42px;
  background-color: white;
  color: black;
}

.header__item--btn:hover {
  background-color: var(--hover);
  transition: 0.4s;
  color: white;
}

.studios {
  position: relative;
}

.studios__image {
  width: 100%;
  height: auto;
}

.studios__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.studios__roles {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-gray);
}

.studios__title {
  font-size: 54px;
  line-height: 59.4px;
  text-align: center;
  color: white;
}

.studios__subtitle {
  color: var(--light-gray);
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.studios__icons-row {
  display: flex;
  position: absolute;
  gap: 20px;
  right: 0%;
  bottom: 10%;
  margin: 0 50px;
}

.specializations__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.specializations__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.specializations__title {
  font-size: 40px;
  line-height: 42px;
}

.specializations__subtitle {
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--light-gray);
}

.specializations__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.specializations__card {
  position: relative;
  text-align: start;
}

.specializations__card-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.specializations__card-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.specializations__card-subtitle {
  font-size: 14px;
  line-height: 20px;
  color: var(--light-gray);
}

.specializations__card-btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  width: 143px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.specializations__card-btn:hover {
  background-color: var(--hover);
  transition: 0.4s;
  color: white;
}

.japan {
  margin: 100px 0 0 0;
  position: relative;
}

.japan__image {
  width: 100%;
}

.japan__text {
  position: absolute;
  top: 50%;
  right: 6%;
}

.japan__title {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.japan__subtitle {
  font-size: 15px;
  line-height: 20px;
  color: var(--light-gray);
}

.japan__icons {
  display: flex;
  position: absolute;
  gap: 20px;
  right: 0%;
  bottom: 10%;
  margin: 0 50px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tools__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 0 0 100px;
}

.tools__pretitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--light-gray);
}

.tools__title {
  font-size: 28px;
  line-height: 32px;
}

.tools__subtitle {
  font-size: 14px;
  line-height: 20px;
}

.tools__card-btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  width: 143px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.tools__card-btn:hover {
  background-color: var(--hover);
  transition: 0.4s;
  color: white;
}

.costa-rica {
  position: relative;
}

.costa-rica__image {
  width: 100%;
}

.costa-rica__text {
  position: absolute;
  top: 50%;
  right: 6%;
}

.costa-rica__title {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.costa-rica__subtitle {
  font-size: 15px;
  line-height: 20px;
  color: var(--light-gray);
}

.costa-rica__icons {
  display: flex;
  position: absolute;
  gap: 20px;
  right: 0%;
  bottom: 10%;
  margin: 0 50px;
}

.clients {
  margin: 150px 0;
}

.clients__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.clients__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.clients__title {
  font-size: 40px;
  line-height: 42px;
}

.clients__subtitle {
  font-size: 22px;
  line-height: 30px;
  color: var(--light-gray);
}

.clients__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nepal {
  margin: 100px 0 0 0;
  position: relative;
}

.nepal__image {
  width: 100%;
}

.nepal__text {
  position: absolute;
  top: 50%;
  right: 6%;
}

.nepal__title {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nepal__subtitle {
  font-size: 15px;
  line-height: 20px;
  color: var(--light-gray);
}

.nepal__icons {
  display: flex;
  position: absolute;
  gap: 20px;
  right: 0%;
  bottom: 10%;
  margin: 0 50px;
}

.contact {
  margin: 150px 0;
}

.contact__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.contact__title {
  font-size: 38px;
  line-height: 42px;
}

.contact__subtitle {
  font-size: 22px;
  line-height: 30px;
  color: var(--light-gray);
}

.contact__btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  width: 143px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0 auto;
}

.contact__btn:hover {
  background-color: var(--hover);
  transition: 0.4s;
  color: white;
}

.footer {
  /*  */
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__subtitle {
  font-size: 14px;
  line-height: 20px;
  color: var(--light-gray);
  padding: 10px 0 0 0;
}

.footer__menu {
  display: flex;
  gap: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  gap: 10px;
}

.footer__business-text,
.footer__pages-text {
  color: var(--light-gray);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subscribe {
  display: flex;
  justify-content: space-between;
}

.subscribe__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscribe__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subscribe__subtitle {
  font-size: 13px;
  line-height: 20px;
  color: var(--light-gray);
}

.subscribe__review {
  position: relative;
}

.subscribe__input {
  width: 458px;
  height: 52px;
  border-radius: 12px;
}

.subscribe__input-send {
  background: black;
  width: 63px;
  height: 30px;
  border-radius: 11px;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright__text-item {
  font-size: 13px;
  line-height: 20px;
  color: var(--light-gray);
}

.copyright__icons {
  display: flex;
  gap: 25px;
}
