:root {
  --light-gray: #c0c0c0;
  --hover: rgb(105, 105, 105);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

.wrapper {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  height: 90px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__areas {
  color: white;
  font-size: 14px;
  padding: 0 60px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__item {
  color: white;
  font-size: 16px;
  line-height: 20px;
}

.header__item:hover {
  color: var(--hover);
  transition: 0.4s;
}

.header__item--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 155px;
  height: 42px;
  background-color: white;
  color: black;
}

.header__item--btn:hover {
  background-color: var(--hover);
  transition: 0.4s;
  color: white;
}

.studios {
  position: relative;
}

.studios__image {
  width: 100%;
  height: auto;
}

.studios__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.studios__roles {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-gray);
}

.studios__title {
  font-size: 54px;
  line-height: 59.4px;
  text-align: center;
  color: white;
}

.studios__subtitle {
  color: var(--light-gray);
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.studios__icons-row {
  display: flex;
  position: absolute;
  gap: 20px;
  right: 0%;
  bottom: 10%;
  margin: 0 50px;
}

.specializations__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.specializations__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.specializations__title {
  font-size: 40px;
  line-height: 42px;
}

.specializations__subtitle {
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--light-gray);
}

.specializations__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.specializations__card {
  position: relative;
  text-align: start;
}

.specializations__card-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.specializations__card-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.specializations__card-subtitle {
  font-size: 14px;
  line-height: 20px;
  color: var(--light-gray);
}

.specializations__card-btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  width: 143px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.specializations__card-btn:hover {
  background-color: var(--hover);
  transition: 0.4s;
  color: white;
}

.sunset {
  margin: 100px 0 0 0;
  position: relative;
}

.sunset__image {
  width: 100%;
}

.sunset__text {
  position: absolute;
  top: 50%;
  right: 6%;
}

.sunset__title {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sunset__subtitle {
  font-size: 15px;
  line-height: 20px;
  color: var(--light-gray);
}

.sunset__icons {
  position: absolute;
  bottom: 6%;
  right: 6%;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tools__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 0 0 100px;
}

.tools__pretitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--light-gray);
}

.tools__title {
  font-size: 28px;
  line-height: 32px;
}

.tools__subtitle {
  font-size: 14px;
  line-height: 20px;
}

.tools__card-btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  width: 143px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.tools__card-btn:hover {
  background-color: var(--hover);
  transition: 0.4s;
  color: white;
}

.leafs {
  position: relative;
}

.leafs__image {
  width: 100%;
}

.leafs__text {
  position: absolute;
  top: 50%;
  right: 6%;
}

.leafs__title {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.leafs__subtitle {
  font-size: 15px;
  line-height: 20px;
  color: var(--light-gray);
}

.leafs__icons {
  position: absolute;
  bottom: 6%;
  right: 6%;
}
